div.separation{
    height: 80px;
    border-right: #e2e2e2 1px solid;
    font-size: 15px;
}

div.row1{
    margin: 30px 0 0 30px;
    line-height: 30px;
    font-size: 15px;

}

li#main>a{
    background-color:#0189bc;
    color: white;
    padding-right: 0;
}

img#san{
    float: right;
    display: block;
}

div#meetinfo{
    margin-left: 0px;
    padding-bottom: 40px;
    border-bottom: #e2e2e2 1px solid;
}

div.info{
    margin-top: 15px;
}

button#connected{
    display: none;
}

button#sigin{
    display: none;
}

button#connected,#unconnect,#sigin,#unsigin{

    pointer-events: none;
}

div#video{
    padding-top: 30px;
}







