div#meetcontrol{
    height: 180px;
    border-bottom: #e2e2e2 1px solid;
    margin-bottom: 20px;

}

li#meet>a{
    background-color:#0189bc;
    color: white;
    padding-right: 0;
}

img#san3{
    float: right;
    display: block;
}


input#id_phoneNo{


    padding-left: 12px;
}

button.meetbutton{

    width: 130px;
}

div#meetbtn{
    margin-top: 30px;
    text-align: center;
    margin-left: -8%;
}




