li#sys_config>a{
    background-color:#0189bc;
    color: white;
    padding-right: 0;
}

img#san{
    display: none;
}

img#san2{
    float: right;
    display: block;
}

img#san1{
    display: none;
}

a#net_config{
    color: white;
    background-color:#25425f ;
}