li#dev_config>a{
    background-color:#0189bc;
    color: white;
    padding-right: 0;
}

img#san1{
    float: right;
    display: block;
}

a#version{
    color: white;
    background-color:#25425f ;
}

.info-display{
    width: 300px;
    border: none;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin-left: 10px;
}

.infotitle{
    margin-left: 20px;
}