{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static  "jquery-ui-1.9.2.custom/css/base/jquery-ui-1.9.2.custom.min.css" %}" rel="stylesheet">
    <link href="{% static  "system/css/base.css" %}" rel="stylesheet">
{#    <link rel="shortcut icon" href="#" />#}
    {% block css %}{% endblock %}
	<script src="{% static "jquery-1.9.1/jquery.min.js" %}"></script>
	<script src="{% static "jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
</head>
<body>

<!-- subModal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="usbModal">
    <div class="modal-dialog" role="document" id="min_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">USB提示</h4>
            </div>
            <div class="modal-body" id="min_dialog_body">
                <span class=" glyphicon glyphicon-exclamation-sign"></span>
                USBkey未插入
            </div>
        </div>
    </div>
</div>

<!-- authModal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="authModal">
    <div class="modal-dialog" role="document" id="lg_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">双向认证</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>认证服务器IP:</label>
                        </div>
                         <div class="col-md-8">
                             <input class="dinput" required>
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>认证服务器端口:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>设备PIN码:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                    </div>
                    <div class="row" id="e_tip">
                        双向认证失败，PIN码错误，USBKey的PIN码剩余重试次数：
                    </div>
                    <div>
                        <input type="submit" value="确定" class="btn btn-primary" id="modalsubmit" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- CAIdentifyModal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="CAModal">
    <div class="modal-dialog" role="document" id="ca_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">身份鉴别</h4>
            </div>
            <div class="modal-body" >
                <form>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <label>终端身份鉴别:</label>
                        </div>
                         <div class="col-md-8">
                             <input class="dinput" disabled value="USBKey+PIN码">
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>服务器地址:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>端口号:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>用户PIN码:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                    </div>
                    <div class="row" id="e_tip">
                        双向认证失败，PIN码错误，USBKey的PIN码剩余重试次数：
                    </div>
                    <div>
                        <input type="submit" value="确定" class="btn btn-primary" id="modalsubmit" >
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<!-- UsrIdentifyModal -->
<div class="modal fade" tabindex="-1" role="dialog"  id="UsrModal">
    <div class="modal-dialog" role="document" id="Usr_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" >身份鉴别</h4>
            </div>
            <div class="modal-body" >
                <form>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <label>终端身份鉴别:</label>
                        </div>
                         <div class="col-md-8">
                             <input class="dinput" disabled value="用户名+密码">
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>服务器地址:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>

                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>端口号:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                    </div>
                    <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>用户账号:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                    </div>

                   <div class="row sparse">
                        <div class="col-md-4 fright">
                            <span class="warning">*</span>
                            <label>用户密码:</label>
                        </div>
                         <div class="col-md-8">
                             <input  class="dinput" required>
                        </div>
                   </div>
                    <div class="row" id="e_tip">
                        双向认证失败，PIN码错误，USBKey的PIN码剩余重试次数：
                    </div>
                    <div>
                        <input type="submit" value="确定" class="btn btn-primary" id="modalsubmit" >
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="main">
        <div class="col-md-2" id="navbar">
            <div id="logo">


            </div>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="nav_bar" id="main"><a href="main.html?name={{ name }}&permiss={{ permiss }}">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> 主页 <img class="triangle" id="san" src="../../static/system/image/cion.png">     </a>
                </li>
                <li role="presentation" class="nav_bar" id="meet"><a href="meet.html?name={{ name }}&permiss={{ permiss }}">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 会议 <img class="triangle" id="san3" src="../../static/system/image/cion.png">     </a>
                </li>

                <li role="presentation" class="nav_bar" id="sys_config">
                    <a id="flow1" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 系统配置 <img class="triangle" id="san2" src="../../static/system/image/cion.png"></a>
                    <div class="collapse" id="collapseExample1">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="meetcontrol.html?name={{ name }}&permiss={{ permiss }}" id="meet">会议参数</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="netconfig.html?name={{ name }}&permiss={{ permiss }}" id="net_config">网络设置</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="UIdisplay.html?name={{ name }}&permiss={{ permiss }}" id="UI_display">界面显示</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="time.html?name={{ name }}&permiss={{ permiss }}" id="time">日期时间</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="secure.html?name={{ name }}&permiss={{ permiss }}" id="secure">安全保密</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li role="presentation" class="nav_bar" id="dev_config">
                    <a id="flow" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 系统维护 <img class="triangle" id="san1" src="../../static/system/image/cion.png"></a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="version.html?name={{ name }}&permiss={{ permiss }}" id="version">版本信息</a>
                            </li>
{#                            <li role="presentation" class="nav_bar_inner" >#}
{#                                <a href="log.html?name={{ name }}&permiss={{ permiss }}" id="log">系统日志</a>#}
{#                            </li>#}
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="interfaceControl.html?name={{ name }}&permiss={{ permiss }}" id="interfaceControl">接口控制</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="sysdiagnosis.html?name={{ name }}&permiss={{ permiss }}" id="sysdiagnosis">系统诊断</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" >
                                <a href="sysupdate.html" id="sysupdate">系统更新</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-10" id="content">
            <div class="row" id="title">
{#                <img id="net" src="../../static/system/image/nonet.png">#}
                <a class="btn sys"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> 关机</a>
                <a class="btn sys"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> 重启</a>
                <a class="btn sys" id="logout"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> 注销</a>


            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% block js %}{% endblock %}
<script type="text/javascript">
    $('#usbModal').modal({backdrop: 'static', keyboard: false});
    $('#authModal').modal({backdrop: 'static', keyboard: false});
    $('#CAModal').modal({backdrop: 'static', keyboard: false});
    $('#USrModal').modal({backdrop: 'static', keyboard: false});
    $('#CAModal').modal('hide');
    $('#usbModal').modal('hide');
    $('#authModal').modal('hide');
    $('#UsrModal').modal('hide');
    getstatus()
    function getstatus(){
        $.ajax({
            type: 'GET',
            dataType:'json',
            url: 'checkstatus',
            timeout: 5000,


            success: function(result) {
                console.log(result.msg)
                switch (result.msg) {
                    case 'authentication':
                        $('#UsrModal').modal('hide');
                        $('#usbModal').modal('hide');
                        $('#CAModal').modal('hide');
                        $('#authModal').modal('show');
                        break;
                    case 'usb':
                        $('#UsrModal').modal('hide');
                        $('#authModal').modal('hide');
                        $('#CAModal').modal('hide');
                        $('#usbModal').modal('show');
                        break;
                    case 'CA':
                        $('#UsrModal').modal('hide');
                        $('#authModal').modal('hide');
                        $('#usbModal').modal('hide');
                        $('#CAModal').modal('show');
                         break;
                    case 'Usr':
                        $('#authModal').modal('hide');
                        $('#usbModal').modal('hide');
                        $('#CAModal').modal('hide');
                        $('#UsrModal').modal('show');
                         break;
                    default:
                        break

                }

            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(textStatus)

            }


        })
    }
    setInterval(getstatus,2000)
</script>
</body>
</html>


