{% extends "system/base.html" %}

{% load static %}

{% block title %}主页{% endblock %}

{% block css %}
<link href="{% static  "system/css/main.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">主页&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row" >
        <div class="row tips">
            <label>会场信息</label>
        </div>
    </div>
    <div class="row" id="meetinfo">
        <div class="col-md-3 separation">
            <div>会场名称</div>
            <div class="info">
                <label>会场一</label>
            </div>

        </div>
        <div class="col-md-3 separation">
            <div>H323号码</div>
            <div class="info">
                <label>0000000</label>
            </div>

        </div>
        <div class="col-md-3 separation">
            <div >综合会议管理平台</div>
            <div class="info">
                <button  class="btn btn-danger" id="unconnect"> 未连接</button>
                <button  class="btn btn-success" id="connected"> 已连接</button>

            </div>
        </div>
        <div class="col-md-3 separation">
            <div>GK注册状态</div>
            <div class="info">
                <button  class="btn btn-danger" id="unsigin"> 未注册</button>
                <button  class="btn btn-success" id="sigin"> 已注册</button>

            </div>
        </div>
    </div>
    <div class="row" id="video">
        <div class="row tips">
            <label>会场</label>
        </div>
        <div>

        </div>
    </div>



{% endblock %}

{% block js %}
<script type="text/javascript">


</script>
{% endblock %}

