{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/meetcontrol.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">会议参数&nbsp&nbsp&nbsp&nbsp</label></div>
    <form>
        <div class="row" >
            <div class="col-md-6 col-no-leftpad">
                <div class="row tips">
                    <label>通话参数</label>
                </div>
                <div class="row1 row" >
                    <div class="col-md-2" >
                        <label>来电自动接听</label>
                    </div>
                    <div class="col-md-1 NormalClass">

                        {{ form.autoanswer }}
                    </div>
                    <div class = "col-md-2">
                        <label id="textin" class="off">关闭</label>
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        {{ form.callencryption.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.callencryption }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        {{ form.calltype.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.calltype }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row  tips">
                    <label>媒体参数</label>
                </div>
                <div class="row1 row">
                    <div class="col-md-3">
                        {{ form.audioprotocol.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.audioprotocol }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-3">
                        {{ form.mainvprotocol.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.mainvprotocol }}
                    </div>
                </div>
                 <div class="row1 row">
                    <div class="col-md-3">
                        {{ form.mainvformat.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.mainvformat }}
                    </div>
                </div>
                <div class="row1 row" >
                    <div class="col-md-3" >
                        <label>启用演示</label>
                    </div>
                    <div class="col-md-1 NormalClassAux">

                        {{ form.auxswitch }}
                    </div>
                    <div class = "col-md-2">
                        <label id="auxtext" class="offAux">关闭</label>
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-3">
                        {{ form.mainvprotocol.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.mainvprotocol }}
                    </div>
                </div>
                 <div class="row1 row">
                    <div class="col-md-3">
                        {{ form.mainvformat.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.mainvformat }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="save">
            <input type="submit" value="保存" class="btn btn-primary" >
        </div>
    </form>






{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow1').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');

    $(function() {
        $('#id_autoanswer').click(function() {
           $(".NormalClass").switchClass("NormalClass","LargeClass",'fast');
           $(".LargeClass").switchClass("LargeClass","NormalClass",'fast');
           $("label.off").switchClass("off","on",'fast');
           $("label.on").switchClass("on","off",'fast');
           var text = document.getElementById('textin').innerHTML;

           if(text === '开启'){
               document.getElementById('textin').innerHTML = '关闭'

           }else {
               document.getElementById('textin').innerHTML = '开启'

           }
           return false;
        });
    });

    $(function() {
        $('#id_auxswitch').click(function() {
           $(".NormalClassAux").switchClass("NormalClassAux","LargeClassAux",'fast');
           $(".LargeClassAux").switchClass("LargeClassAux","NormalClassAux",'fast');
           $("label.offAux").switchClass("offAux","onAux",'fast');
           $("label.onAux").switchClass("onAux","offAux",'fast');
           var text = document.getElementById('auxtext').innerHTML;

           if(text === '开启'){
               document.getElementById('auxtext').innerHTML = '关闭'

           }else {
               document.getElementById('auxtext').innerHTML = '开启'

           }
           return false;
        });
    });
</script>
{% endblock %}

