{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/netconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">网络配置&nbsp&nbsp&nbsp&nbsp</label></div>
    <form>
        <div class="row">
            <div class="col-md-6 col-no-leftpad">
                <div class="row tips">
                    <label>LAN1</label>
                </div>
                <div class="row1 row" >
                    <div class="col-md-2" >
                        <label>开启网口</label>
                    </div>
                    <div class="col-md-1 NormalClass">

                        {{ form.netswitch }}
                    </div>
                    <div class = "col-md-2">
                        <label id="textin" class="off">关闭</label>
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.adress.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.adress }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.mask.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.mask }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.gateway.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.gateway }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row tips">
                    <label>H.323</label>
                </div>
                <div class="row1 row" >
                    <div class="col-md-2" >
                        <label>注册GK</label>
                    </div>
                    <div class="col-md-1" id="GK">

                        {{ form.GKswitch }}
                    </div>
                    <div class = "col-md-2">
                        <label >开启</label>
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.GKadress.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.GKadress }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.num.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.num }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.authname.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.authname }}
                    </div>
                </div>
                <div class="row1 row">
                    <div class="col-md-2">
                        <span class="warning">*</span>
                        {{ form.authpw.label_tag }}

                    </div>
                    <div class="col-md-9 col-no-leftpad">

                        {{ form.authpw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="save">
            <input type="submit" value="保存" class="btn btn-primary" >
        </div>
    </form>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow1').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');
    $(function() {
        $('#id_netswitch').click(function() {
           $(".NormalClass").switchClass("NormalClass","LargeClass",'fast');
           $(".LargeClass").switchClass("LargeClass","NormalClass",'fast');
           $("label.off").switchClass("off","on",'fast');
           $("label.on").switchClass("on","off",'fast');
           var text = document.getElementById('textin').innerHTML;

           if(text === '开启'){
               document.getElementById('textin').innerHTML = '关闭'

           }else {
               document.getElementById('textin').innerHTML = '开启'

           }
           return false;
        });
    });
</script>
{% endblock %}

