{% extends "system/base.html" %}

{% load static %}

{% block title %}系统维护{% endblock %}

{% block css %}
<link href="{% static  "system/css/sysdiagnosis.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">系统诊断&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row">
        <div class="row tips">
            <label>音视频测试</label>
        </div>
        <div class="row" id="loopback">
            <label>本地自环测试</label>
            <button class="btn btn-default">视频回环</button>
            <button class="btn btn-default">音频回环</button>
        </div>
    </div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');


</script>
{% endblock %}

