{% extends "system/base.html" %}

{% load static %}

{% block title %}系统维护{% endblock %}

{% block css %}
<link href="{% static  "system/css/sysupdate.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">系统更新&nbsp&nbsp&nbsp&nbsp</label></div>

        <div class="row">
            <div class="col-md-6 col-no-leftpad">
                <div class="row tips">
                    <label>系统升级</label>
                </div>
                <div class="row sparse">
                    <span class="infotitle">License文件导入</span>
                    <button class="btn btn-default">升级</button>
                </div>
                <div class="row sparse">
                    <span class="infotitle">WEB导入升级</span>&nbsp&nbsp&nbsp&nbsp
                    <button class="btn btn-default">升级</button>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row tips">
                    <label>系统设置</label>
                </div>
                <div class="row sparse">
                    <span class="infotitle">恢复出厂设置</span>
                    <button class="btn" id="reset">恢复</button>
                </div>
            </div>
        </div>





{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');


</script>
{% endblock %}

