{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/time.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">日期时间&nbsp&nbsp&nbsp&nbsp</label></div>
    <form>
            <div class="row1 row">
                <div class="col-md-1">
                    <span class="warning">*</span>

                    <label>时间:</label>

                </div>
                <div class="col-md-5">

                    <input id="start" name="start" type="datetime-local" style="width: 50%" step="1" value={{ time }}>

                </div>

            </div>
            <div class="row" id="save">
                <input type="submit" value="保存" class="btn btn-primary" >
            </div>
        </form>



{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow1').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');


</script>
{% endblock %}

