{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/UIdisplay.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">界面显示&nbsp&nbsp&nbsp&nbsp</label></div>

        <form>

            <div class="row1 row" >
                <div class="col-md-1" >
                    <label>会场名显示</label>
                </div>
                <div class="col-md-1 NormalClass">

                    {{ form.UIswitch }}
                </div>
                <div class = "col-md-2">
                    <label id="textin" class="off">关闭</label>
                </div>
            </div>
            <div class="row1 row">
                <div class="col-md-1">
                    <span class="warning">*</span>
                    {{ form.roomname.label_tag }}

                </div>
                <div class="col-md-5 col-no-leftpad">

                    {{ form.roomname }}
                </div>
            </div>
            <div class="row1 row">
                <div class="col-md-1">

                    {{ form.roomlevel.label_tag }}

                </div>
                <div class="col-md-5 col-no-leftpad">

                    {{ form.roomlevel }}
                </div>
            </div>
            <div class="row" id="save">
                <input type="submit" value="保存" class="btn btn-primary" >
            </div>
        </form>



{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow1').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');
    $(function() {
        $('#id_UIswitch').click(function() {
           $(".NormalClass").switchClass("NormalClass","LargeClass",'fast');
           $(".LargeClass").switchClass("LargeClass","NormalClass",'fast');
           $("label.off").switchClass("off","on",'fast');
           $("label.on").switchClass("on","off",'fast');
           var text = document.getElementById('textin').innerHTML;

           if(text === '开启'){
               document.getElementById('textin').innerHTML = '关闭'

           }else {
               document.getElementById('textin').innerHTML = '开启'

           }
           return false;
        });
    });

</script>
{% endblock %}

