{% extends "system/base.html" %}

{% load static %}

{% block title %}系统维护{% endblock %}

{% block css %}
<link href="{% static  "system/css/version.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">版本信息&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row">
        <div class="row tips">
            <label>终端版本</label>
        </div>
        <div class="row sparse_min row1">
            <label class="infotitle">产品型号:</label> &nbsp &nbsp &nbsp &nbsp
            <input class="info-display" value="XXXXXX">
        </div>
        <div class="row sparse_min row1">
            <label class="infotitle">SN号:</label> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <input class="info-display" value="XXXXXX">
        </div>
        <div class="row sparse_min row1">
            <label class="infotitle">软件版本:</label> &nbsp &nbsp &nbsp &nbsp
            <input class="info-display" value="XXXXXX">
        </div>
        <div class="row sparse_min row1">
            <label class="infotitle">版本发布日期:</label>
            <input class="info-display" value="XXXXXX">
        </div>
        <div class="row sparse_min row1">
            <label class="infotitle">硬件版本:</label> &nbsp &nbsp &nbsp &nbsp
            <input class="info-display" value="XXXXXX">
        </div>
    </div>






{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');


</script>
{% endblock %}

